<div *ngIf="fitnessProgram != null" style="margin-top: 100px;"> 
    <header>
        <h2>{{fitnessProgram.type.name}}</h2>
      </header>
        <h2 style="margin-left: 50px; margin-right: 50px;">{{fitnessProgram.type.description}}</h2>
        <div class="slideshow-container">

            <div *ngIf="slideIndex==1" class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_906,c_limit/338651f0-b907-4d63-90b6-a874121210e0/nike-just-do-it.jpg" style="width:100%">
            </div>
            
            <div *ngIf="slideIndex==2" class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1824,c_limit/1910f3f8-447d-4893-8968-fe46a4f8fd18/nike-just-do-it.jpg" style="width:100%">
            </div>
            
            <div *ngIf="slideIndex==3"class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="https://static.nike.com/a/images/f_auto/dpr_1.0,cs_srgb/w_1824,c_limit/6506b584-d4db-4d65-b5e8-cc92dcc9719a/nike-just-do-it.jpg" style="width:100%">
            </div>
            </div>
            <a class="prev" (click)="plusSlides(-1)">❮</a>
            <a class="next" (click)="plusSlides(1)">❯</a>
            <br>
        <h2 *ngIf="fitnessProgram.fitnessTips.length>0" style="margin-left: 100px;">Fitness Tips</h2>
        <section>
        <article *ngFor="let fitnessTip of fitnessProgram.fitnessTips">
          <h1>{{fitnessTip.name}}</h1>
          <p>{{fitnessTip.description}}</p>
        </article>
      </section>
</div>
