<h1 mat-dialog-title>Choose Fitness Program</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Fitness Program</mat-label>
        <mat-select [(value)]="selectedType">
            <mat-option *ngFor="let fitnessType of fitnessTypes" [value]="fitnessType">
                {{fitnessType.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Fitness Level</mat-label>
        <mat-select [(value)]="selectedFitnessLevel">
            <mat-option *ngFor="let level of fitnessLevels" [value]="level">
                {{level}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button style="outline: 0px;" mat-flat-button (click)="onNoClick()">No Thanks</button>
    <button style="outline: 0px;" mat-flat-button cdkFocusInitial (click)="onClickOk()"
        [disabled]="selectedType == null && selectedFitnessLevel == null">Ok</button>
</div>