<div style="margin-top: 100px;">
    <u style="text-align: center;">Company</u>
    <h2 style="margin-left: 50px;">Fitness Club by Vladimir Plesacov</h2>
    <span style="color: #575757;
    font-size: 12px;
    font-style: italic; margin-left: 100px;">Chisinau,Moldova 2022</span>
    <h2 style="margin-left: 150px;">Company information:</h2>
    <p>Our mission is what drives us to do everything possible to expand human potential. We do that by creating
        groundbreaking sport innovations, by making our products more sustainably, by building a creative and diverse
        global team and by making a positive impact in communities where we live and work.

        Based in Beaverton, Oregon, NIKE, Inc. includes the Nike, Converse, and Jordan brands</p>
    <img src="https://s3.amazonaws.com/nikeinc/assets/82532/Nike-Eliud-About-Innovation_original.jpg?1538691590"
        style="max-width: 100%;">

    <P>To achieve our ambition, we’re starting with science and data. Chemistry plays an important part in the
        development of performance products. With our suppliers, we’re looking at ways to reduce chemicals used
        throughout our supply chain, use them more efficiently, and use better chemistries to protect consumers, workers
        and the environment. Chemistry is an important tool for unlocking future innovations including
        performance-maximizing materials, component improvements and closed-loop products.</P>
    <h2 style="margin-left: 150px;">The Importance of Physical Fitness:</h2>
    <p>To put it simply, physical activity and exercise is important for everyone. Children, adolescents, and adults of
        all ages need regular physical activity. Physical activity promotes good health, and you should stay active
        throughout all stages of your life regardless of your body type or BMI.

        Understanding the benefits of physical fitness and knowing how active you should be can help you maintain good
        health and improve your overall quality of life. Here are a few benefits of regular physical activity that
        demonstrate the importance of physical fitness.</p>
</div>