.content{
    font-size: 0;
    margin-left: 40px;
    margin-right: 40px;
}

.background-video {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 100px;
}

