.content{
    font-size: 0;
    margin-left: 40px;
    margin-right: 40px;
}

.background-video {
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

