table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

h1 {
    text-align: center;
}

.table-container {
    margin: 20px;
}

span{
    color: white;
    margin-right: 10px;
}

.createButton{
    background-color: #ffffff;
}

.deleteButton{
    background-color:#ffffff;
    color: red;
}

.editButton{
    background-color:#ffffff;
    color: black;;
}